[include]
	path = ~/.gitconfig-local

[user]
  name = Isma Perez
  email = ismael.perez@intenthq.com

[core]
  excludesfile = /Users/ismaelperez/.gitignore_global
  editor = nvim

[init]
	defaultBranch = main

[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  s = stash
  sp = stash pop
  co = checkout
  ci = commit
  st = status
  diff = difftool
  cp = cherry-pick
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  lola = log --pretty=oneline --abbrev-commit --graph --decorate --all
  hist = log --color --pretty=format:\"%C(yellow)%h %C(green)%ai %ad %C(reset) %s%C(bold red)%d%C(reset) %C(reset) %C(blue)[%an]%C(reset)\" --relative-date --decorate

[push]
  default = current

[branch "master"]
  rebase = true

[branch]
  autosetuprebase = always

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

[diff]
  tool = nvim

[merge]
  tool  = nvim

[difftool "nvim"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[mergetool "nvim"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
